html,body {
	height: 100%;  /* The html and body elements cannot have any padding or margin. */
}

body {
    padding-top: 60px;
}

a {
   color: orange;
}

#wrap {
    min-height: 90%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
	}
.sidebar-nav {
	padding: 9px 0;
}

/* Set the fixed height of the footer here */
#footer {
	 height: 60px;
	 background-color: #f5f5f5;
}

.credit, .source {
	margin: 5px 0;
	color: #999999;
	text-align: center;
}

.source {
  font-size: 12px; 
}
.source a:hover {
  text-decoration: none;
}

.container {
 		width: auto;
 		margin-left: auto;
		margin-right: auto;
		max-width: 680px;
	width: auto;
}

button {
  position: absolute;
  right: 10px;
}

/* Landscape phone to portrait tablet */
	@media (max-width: 767px) {

    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .row-fluid [class*="span"] {
    	float:none;https://sites.google.com/site/tddproblems/all-problems-1
    	width: 100%;
    }
}
