<nav class="well sidebar-nav">
 	<ul class="nav nav-list">
		<li class="nav-header">JavaScript & QUnit group</li>
		<li><a href="views/qunit.php?kata=fizzbuzz" alt="FizzBuzz">Fizz</a></li>
		<li><a href="views/qunit.php?kata=roman-arabic" alt="RomanNumbers">Roman Numbers</a></li>
		<li><a href="views/qunit.php?kata=statistics" alt="CalcStats">Calculate Statistics</a></li>
		<li><a href="views/qunit.php?kata=lcd-digits" alt="LCDDigits">LCD Digits</a></li>
		<li class="nav-header">PHP5 & PHPUnit group</li>
		<li><a href="plugins/vpu/" alt="PrimeNumber">Prime Numbers</a></li>
		<li><a href="plugins/vpu/" alt="BowlingGame">Bowling Game</a></li>
		<li><a href="plugins/vpu/" alt="OverlappingRectangles">Overlapping rectangles</a></li>
 	</ul>
 </nav>